[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
pygame = ">=2.0.0"
keyboard = "*"
pynput = "*"

[requires]
python_version = "3.9"
